<h3>Catch <%= @pok.to_s %> here : </h3>
<div id="map-canvas" style="height: 350px; weigth:350px; margin: 10px;"></div>

<script type="text/javascript" >
  var lati = <%= @pok.reports.last.latitude %>
  var longi = <%= @pok.reports.last.longitude %>

	function initialize() {
    var mapOptions = {
      center: { lat: lati, lng: longi},
      zoom: 5
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    <% @pok.reports.each do |report| %>
      new google.maps.Marker({
        position: new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>),
        map: map,
      });
    <% end %>
  }

  $(document).ready(function() {
    initialize();
  });
</script>
<h4><%= link_to 'Stalk a new one', pokemon_path(Pokemon.all.sample(1)) %></h4>