<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>



<!-- MORRIS -->
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" %>
<!--/MORRIS -->

  <%= stylesheet_link_tag    "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "style", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js", "data-turbolinks-track" => true %>

<!-- GMAP -->
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBSnQP8mT7FBrgopDPugaLWgKme5uZZzhQ" %>
<!-- GMAP -->

  <%= csrf_meta_tags %>
</head>
<body class="<%= yield(:pokemon_type) %>">
	<div class="container">
		<%=  render 'layouts/header' %>
		<%= yield %>
	</div>
</body>
</html>
